<!-- <p id="notice"><%= notice %></p> -->

<h1><%= @days %> days until  <%= @event.name %></h1>

<%= @event.date %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
